img{// Modifies images on site
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

header{// Modifies header part of HTML code
   text-align: center; 
   background-color: aqua;
}

#about{// Modifies About Me Section
    text-align: center;
    background-color: aqua;
}

